.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container{
  width: 40%;
  height: 50%;
  color: white;
  margin-top: 80px;
   background-color: black;
   margin-left: 400px;
   box-shadow: 1px 2px  9px black;
}
body{
  background-color: #F4AAB9;
  
}
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: #F4AAB9;
  color: #F4AAB9;
}
button{
  background-color: #F4AAB9 ;
}